{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
    <style>
        .container {
            width: 50%;
            margin: 0 auto;
            text-align: center;
            /* Center vertically and horizontally */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
   <div class="container">
    <h1>Search an Article</h1>
    <form class="flex-grow" action="{% url 'search_results' %}" method="post">
        {% csrf_token %}
        <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
        <!-- Add combobox for article number -->
        <label for="articles">
            <select class="form-control select2" aria-label="Article Selection" name="articles" id="articles">
                <option value="25">25 Articles</option>
                <option value="50">50 Articles</option>
                <option value="100">100 Articles</option>
            </select>
        </label>
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </div>
</body>
</html>

{% endblock %}